<li class="comment">
  <div class="comment__header user">
    <img
      width="32"
      height="32"
      class="user__pic"
      ng-src="{{($ctrl.comment.autor.gender === 'male') ? $ctrl.avatarPaths.male : $ctrl.avatarPaths.female }}"
      alt="user"
    />
    <div class="user__info">
      <span class="user__name">{{$ctrl.comment.autor.name}}</span>
      <time class="user__time" datetime="{{$ctrl.comment.date}}">{{$ctrl.comment.date | date:'dd.MM.yyyy в HH:mm'}}</time>
    </div>
  </div>

  <blockquote class="comment__body">{{$ctrl.comment.comment}}</blockquote>
  <a class="comment__footer" href="#" ng-click="$ctrl.addReplyToComment($event, $ctrl.comment.id)">Ответить</a>

  <div ng-if="showReplyForm">
    <reply-form></reply-form>
  </div>

  <ul class="comments" ng-if="$ctrl.comment.replies && $ctrl.comment.replies.length">
    <comment-item ng-repeat="reply in $ctrl.comment.replies" comment="reply"></comment-item>
  </ul>
</li>
