<li class="comment">
  <div class="comment__header user">
    <img
      width="32"
      height="32"
      class="user__pic"
      ng-src="{{($ctrl.comment.autor.gender === 'male') ? $ctrl.avatarPaths.male : $ctrl.avatarPaths.female }}"
      alt="user"
    />
    <div class="user__info">
      <span class="user__name">{{$ctrl.comment.autor.name}}</span>
      <time class="user__time" datetime="{{$ctrl.comment.date}}">{{$ctrl.comment.date | date:'dd.MM.yyyy в HH:mm'}}</time>
    </div>
  </div>

  <blockquote class="comment__body">{{$ctrl.comment.comment}}</blockquote>
  <div class="comment__footer">
    <a
      class="comment__link"
      href="#"
      ng-if="$ctrl.userId !== $ctrl.comment.autor.id"
      ng-click="$ctrl.addReplyToComment($event, $ctrl.comment.id)"
      ng-class="{ 'comment__link--disable': isDisable }"
      >Ответить</a
    >
    <a
      ng-if="$ctrl.userId === $ctrl.comment.autor.id"
      class="comment__link"
      href="#"
      ng-click="$ctrl.editComment($event, $ctrl.comment)"
      ng-class="{ 'comment__link--disable': isDisable }"
      >Редактировать</a
    >
    <a
      ng-if="$ctrl.userId === $ctrl.comment.autor.id"
      class="comment__link"
      href="#"
      ng-click="$ctrl.deleteComment($event, $ctrl.comment.id)"
      ng-class="{ 'comment__link--disable': isDisable }"
      >Удалить</a
    >
  </div>

  <div ng-if="showReplyForm">
    <reply-form></reply-form>
  </div>

  <ul class="comments" ng-if="$ctrl.comment.replies && $ctrl.comment.replies.length">
    <comment-item ng-repeat="reply in $ctrl.comment.replies" comment="reply"></comment-item>
  </ul>
</li>
