html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}

main {
  flex-grow: 1;
  padding: 0 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  background-color: #004359;
  color: white;
}

.header__link {
  display: flex;
  align-items: center;
}

.header__logo {
  display: block;
  width: 165px;
  height: 30px;
  background-image: url("https://livejournal.naydex.net/17T5nu833/9f3d0fKIX8/MS9L6z3kAaCm325eAX8PQlU2Tm5ff0_mkTf3Ssuaqs53lGO9yXHmy6ZQ7lkJi7OmGEer6P92i591iwvN8wKuxxMVNo1c60O_vdB_HA53ClRePRVwWGhGopAn8QvDm-OCa5pUh4RM5tbGdu17K8KFhA0Wj7umKMzjFa0dwuASkuMMJT-ifd9PoZDbUAI3bBxucRRWbmtpZqOzHtMizoGEkn28X7DrVcH_ylfWRynnhKEOKZ6lhjbM4gKjDuXbJ5zxNR8rhUfBT5mj5kwlKFgTZncLSldSbVGJrijZNO-SlZVDkGaK0m3k-9FozG0O5pGXORyJnoM30fENsC393yq_zC8tHIhC_kWbufRVIihSAVJ9KnJtQ2p3sY0q6gfGg6iTVrVgnOBTxffdd_FzCuCmny89p6COPffhL7w36N0ot-EALCivZNt_gp7bfD8IRxxLWS93dElUbKu4HeIxz72JiUqdXZvCVsL3x0zXShHuiqguHry9jy7dwzKTEOfjKJjjJTY-onn4X4aq03cyBmcpS3Y7aGlFcEupsjz2N-qUnYZ-o1is8UvLwvNv0HU346aBESmkrZ0fyO05oAPG4TK9yRA_Fad8-0-LqNZXHRV9A3NyCWxNV3Z7sLQ8xBfkmL2xS5xxqdZJ5dvhRs53Cs-ptQobk7SoIN75OY4T2sARg-8yGRSMR8ZdqqL3XAUPbxdoeDJ9bUl7VpKKK_I94Y-UplWhf5nhbfXbwn3ueBT_koQ-EriBkwbq0C2uNuv4LZntAAUWt1vOar-w7XYeKFAxSngKTHZDdWmJnij6Fsmbj7tyv2C0wk3U9-BZ9Hon04O1PjKXmaks6v8VjTHu-iO78gkUBLJX30SesNlvGyR5HF1vNFFPV3Byu7s_6B_RkZqHbrpYudRs0NTuZfd6FOu1txc7mIGrN-_nNrwz-uoavcsoGD-iasZmsoDwSRs7WwByUwB3Znhve4aSPOoKzKK_jFePTb_PV-nW0GjIZDPpg6kXHL-7oyjo6imdF-LrCr3EFQ4fnErBZb2T0nwzA3QhRXgAUmpSdnCBrDXmCMqylZBFuG6qyFvi1Oxb73wiwai4Nha1j7gJ0_8igATH5zagwjU2A4lf-V2Wh_xSMiV7CH90EnBVW3lNvbcj5QTArYGRfJpyovdh9vTgdcxmMP-Evy49jKGIMerQGqUewMEykM8nMzuIRuN0lb7XcgkPYCFKUht5XXhNebq1IcUC4aSYjUWjQ6DSetHKz3PAWxbnuLclLqWvuB7M0wK-JdTkF7nsLi4Wjnb-fKCc6ks8Cn0yTlsRVmxEeFa-iTzkMNWRoYNulkOIxVz-z9l29WYPxK2hNAySl7gW0_kCjBbV4xKm-CA1Jo5A2FS3o9xgCQJsO2NRK29lclhSrYs4yRLxvruAQrVfus9Q2ujkSfN5EMq4lDwyhbmCKOnHM5E-9ucBtv4zMzSvRe19u4LoTTIeQBhrcTN1SEZKYYaFMOs_y7iup0u4UaHjfvLv2X_Wcgf1pqAQN5y-hTTN2SinOcP3KYbJKCohs0rGbbWby0I9I3cDa1YWaU5rV3m7iRb6IfCDj4tmhkWS5WDU_txG2W48x5C0GzOsnqkX9_M0rhDY5DOrzDEUNqln2FWDn85rJwBXO1NRK054UFVHmI8n7zPqo7SUU6JnkM932vLCV-JXDuajlAwOmqeHANzOLIYQ9cgOgOMvHSuTR8FKh6TWVAI1ZBhodwp_cFp_Wb-GMMsI9KWUtEKUf4LVYvL980bscAX9l4U7C56Cqwbt3jKwJ_r6K7fbET4nin_wZKK4-n0eFF0DXUwefWZfTG-SnDnXIcGEtIRvtWCs7Gvq3sxTx24h6YWXKiiknrMIz9oNtibB5xCZ-zsYMrJF-HW3lPRrHjpzEWNVO0lkUG11pYsR7AvMspmuZoNks8hp_MDdaMdXEOGxpT0zvKabPeLRF5Ig4dMHoMEGFBmKW-Vru5fPXyc-fDdMchJXeGZxRo6JIcYi05GHhGqGToDiecHQz0TjTz7wobsMFoSnuDTK0QOaGfXKCoXwBy4TnmDYQ6eA-FAJPXs9UGoAam5peVmDkR_1DvOFnKh-vEqbyln73f9K200H4q6KExe6t5007vskvgXrwian2gcyMoFZ5HSis9loKCtzHGtaNlhvVlZ6gY017wv6vICKT61CtO9J_fbGW-VyMPyPqhQLroWdLNDaJpg_5tYOssAKMAOeWuRcsbP4bzYIVR1JZSFwanBaVpmFGfIs95CDjX2YfprFSf30wHjZSiDyuII2DpC4gTb-8ymEF_T5E7zcNjQnk0XNW5CqzVseOXksaW8LU2pCWUqimRn5CO61p7N2m0iR1Hvh3uZQyG4D_Za1NRuRmIU17-gXsx3j8Sil4w4KNbRg6nmVs81-EzxMMkB6NmtLZ2xoioUCwR3GpZWEVplhs9dr1-v5UfRqH8mNoygptaCYM9bRI40H-uoGlNwgOjaVVfBqqoDaXSM-eTJ0ah5ea191UaC7OfUE47altGWTX5XiYdvN2m7nbQ7_k54LEa-Zix7JzBKBM8XBMJzdDB8BtF7dTau591AkOVU7X1QLXH5Lf2uftQXTLcyblIpVvUaa933j8sF-8W0MzKGaCiqXhL020eIxmgLl8wOTwzUzPZdF40aVtNV8GyZUK0t-IE1zaHFRgKwf8ijvmKOPRb17ssB3xdr6XdV2DOmtuxI8lYaEMtb-GJgRzesxqd8sFBCJQcBuuqH3URIIZjdPeixuRV9zQKy6IecH04W9i2y5Rp_WSeX1_EnnXzTmo6g-F4-WkCbN7AqmFfTUJp7eMBc1kFfpS7aW9E0lD1g6QVkIc054WHmnjjPSD9etnoxykluhwnfD1cJSw20C55qVEhCxnoYN0P0RszfE5xWjwDspOJ1k_nujkPFoPz19AE5lCXl2SE9IgoUw4BDPlJ6Ib75lu_F0-97lf9d2MMKFlTs-i4yYCt38K7g-w9AsoeEqHSW8dfx9h5zHbAM0cgl0bhpqSFRaa4WrCNUi2qWUr0mTX5TsT-H14k3XXTzSraYVKayvszft0wKHLOngMbfSDC87pWY");
  background-position: left;
  background-size: auto 100%;
  background-repeat: no-repeat;
  text-shadow: none;
  text-indent: -9999px;
  color: transparent;
  cursor: pointer;
}

.user-menu {
  display: flex;
  justify-content: end;
  align-items: center;
  color: white;
  text-decoration: none;
}

.user-menu:hover .user-menu__name {
  opacity: 0.7;
}

.user-menu:hover .user-menu__logout {
  opacity: 0.7;
}

.user-menu__name {
  font-size: 16px;
}

.user-menu__logout {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-top: 2px;
  width: 15px;
  height: 15px;
  background-image: url("https://img.icons8.com/dusk/64/expand-arrow.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.footer {
  min-height: 35px;
  background-color: #003040;
}

.comments {
  list-style: none;
}

.comments--top {
  padding: 0;
}

.comment {
  margin-bottom: 25px;
  margin-top: 25px;
}

.comment__header {
  display: flex;
}

.comment__body {
  margin-left: 42px;
  margin-bottom: 5px;
  margin-right: 15px;
}

.user {
}

.user__pic {
  margin-right: 10px;
}

.user__info {
  display: flex;
  flex-direction: column;
}

.user__name {
  font-weight: 600;
}

.user__time {
  color: grey;
  font-size: 13px;
}

.comment__footer {
  display: flex;
}

.comment__link {
  width: max-content;
  height: 19px;
  box-sizing: border-box;
  display: block;
  margin-left: 15px;
  color: #004359;
  text-decoration: none;
  border-bottom: 1px dashed #004359;
}

.comment__link--disable {
  opacity: 0.5;
  pointer-events: none;
}

.comment__link:first-of-type {
  margin-left: 42px;
}

.comment__link:hover {
  border-bottom: none;
}

.preloader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #00b0ea;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.reply-form {
  display: flex;
  flex-direction: column;
  margin-left: 42px;
  margin-top: 15px;
  margin-right: 15px;
}

.reply-form__field {
  resize: none;
  margin-bottom: 5px;
  padding: 5px;
}

.form__buttons {
  display: flex;
}

.reply-form__submit {
}

.reply-form__close {
}
